.hero__section {
  margin: 0 140px 13px 24px;
  font-family: inter;
}

.hero__section-left {
  padding: 75px 298px 200px 116px;
  background: linear-gradient(to left top, #d6e6fe, #d6fcfe, transparent);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;

  max-width: 564px;
}

.hero__logo {
  width: 64px;
  height: 64px;
}

.hero__title {
  margin-top: 127px;
  margin-bottom: 35px;
  font-size: 64px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 110%;
  color: #253347;
}

.hero__text {
  line-height: 150%;
  margin: 0;
  color: #5e6e85;
}

.hero__section-right {
  position: absolute;
  background-color: white;
  top: 181px;
  right: 140px;
  max-width: 564px;
  padding: 32px;
  border-radius: 16px;
  filter: drop-shadow(16px 32px 56px rgba(143, 174, 207, 0.25));
}

.hero__title-modal {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 110%;
  color: #253347;
  margin-top: 0;
  margin-bottom: 32px;
}

.hero__label {
  width: 238px;
}

.hero__data {
  display: flex;
  flex-direction: column;
}

.hero__radio {
  font-size: 16px;
  font-weight: 600;
  display: flex;
  gap: 24px;
}

.hero__radio-label {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-bottom: 32px;
  cursor: pointer;
  width: 238px;
}

.hero__radio-button {
  margin: 0 18px 0 0;
  width: 31px;
  height: 31px;
  cursor: pointer;
}

.hero__bmi {
  display: flex;
  gap: 24px;
}

.hero__bmi-imperial {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.hero__input-text {
  font-size: 14px;
  color: #5e6e85;
  margin-bottom: 8px;
}

.hero__input {
  width: 190px;
  height: 29px;
  border-color: #d8e2e7;
  border-radius: 12px;
  cursor: pointer;
  font-size: 24px;
  padding: 24px;
  color: black;
  margin-bottom: 32px;
}

.hero__input:focus {
  border-color: blue;
  outline: none;
}

.hero__input-uom-left {
  position: absolute;
  margin: 0;
  color: blue;
  font-size: 24px;
  font-weight: 600;
  top: 201px;
  left: 214px;
}

.hero__input-uom-right {
  position: absolute;
  margin: 0;
  color: blue;
  font-size: 24px;
  font-weight: 600;
  top: 201px;
  right: 48px;
}

.hero__result-title {
  margin-top: 0;
  margin-bottom: 16px;
}

.hero__result {
  padding: 32px;
  background: linear-gradient(to right, #345ff6, #587dff);
  color: white;
  width: 436px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-top-right-radius: 999px;
  border-bottom-right-radius: 999px;
}

.hero__result-text {
  font-size: 14px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .hero__section {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 350px;
  }

  .hero__section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 43px 326px 43px;
    max-width: 100%;
  }

  .hero__logo {
    width: 40x;
    height: 40px;
  }

  .hero__title {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 40px;
    text-align: center;
  }

  .hero__text {
    text-align: center;
  }

  .hero__section-right {
    position: relative;
    right: 0;
    top: -268px;
    max-width: 686px;
  }

  .hero__radio-label {
    width: 299px;
  }

  .hero__entry {
    width: 299px;
  }

  .hero__input {
    width: auto;
  }

  .hero__input-uom-left {
    left: 276px;
  }

  .hero__result {
    width: 558px;
  }
}

@media screen and (max-width: 375px) {
  .hero__section {
    margin-bottom: 0;
  }

  .hero__section-left {
    padding: 32px 24px 217px 24px;
  }

  .hero__title {
    margin-top: 24px;
    font-size: 48px;
  }

  .hero__section-right {
    max-width: 280px;
    top: -169px;
    padding: 24px;
  }

  .hero__data {
    grid-template-columns: repeat(2, 128px);
  }

  .hero__radio {
    width: 128px;
  }

  .hero__input-bottom {
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .hero__bmi {
    flex-direction: column;
    gap: 0;
  }

  .hero__entry {
    margin-bottom: 16px;
  }

  .hero__entry:last-child {
    margin-bottom: 24px;
  }

  .hero__input {
    width: 232px;
    margin-bottom: 0;
  }

  .hero__input-uom-left {
    left: 250px;
  }

  .hero__input-uom-right {
    top: 318px;
    right: 44px;
  }

  .hero__result {
    width: 216px;
    border-radius: 16px;
  }
}
