.results__container {
  padding: 0 140px 96px 140px;
  display: flex;
  justify-content: space-between;
  font-family: inter;
}

.results__pic {
  width: 564px;
  height: 533px;
  margin-top: 65px;
}

.results__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.results__text {
  width: 465px;
}

.results__curve-right {
  width: 85px;
}

.results__title {
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -3px;
  line-height: 110%;
  color: #253347;
  margin-top: 35px;
  margin-bottom: 35px;
}

.results__para {
  line-height: 150%;
  margin: 0;
  color: #5e6e85;
}

@media screen and (max-width: 768px) {
  .results__container {
    position: absolute;
    padding: 0;
    gap: 75px;
    top: 917px;
    right: 45px;
  }

  .results__pic {
    width: 435px;
    height: 411px;
    margin-top: 0;
  }

  .results__text {
    width: 331px;
  }

  .results__title {
    font-size: 32px;
  }

  .results__curve-right {
    display: none;
  }
}

@media screen and (max-width: 375px) {
  .results__container {
    position: relative;
    flex-direction: column;
    top: -110px;
    gap: 0;
    right: 0;
  }

  .results__pic {
    width: 375px;
    height: 354px;
  }

  .results__text {
    width: auto;
    padding-left: 24px;
    padding-right: 24px;
  }
}
