.tips__container {
  display: flex;
  max-width: 1392px;
  max-height: 402px;
  background: linear-gradient(to left top, #d6e6fe, #d6fcfe, transparent);
  border-radius: 35px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: inter;
}

.tips__blocks {
  width: 1159px;
  padding: 72px 117px 96px;
  display: flex;
  justify-content: space-between;
}

.tips__block {
  width: 365px;
}

.tips__icon {
  height: 64px;
  width: 64px;
}

.tips__title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 110%;
  color: #253347;
  margin-top: 45px;
  margin-bottom: 24px;
}

.tips__text {
  line-height: 150%;
  margin: 0;
  color: #5e6e85;
}

@media screen and (max-width: 768px) {
  .tips__container {
    width: auto;
    padding: 60px 43px 60px 39px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 0;
  }

  .tips__blocks {
    flex-direction: column;
    padding: 0;
    gap: 40px;
  }

  .tips__block {
    width: auto;
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .tips__title {
    margin-top: 0;
  }
}
